body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Droid Sans', arial, serif
}

h2, h3, h4 {
  margin-top: 0;
}

h1 {
  margin: 0;
}

p {
  margin-top: 0 !important;
}

.mb-lg {
  margin-bottom: 50px;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  /* background: rgb(214, 214, 214); */
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.app-wrap .card {
  /* background: rgb(133, 133, 133); */
  width: 50%;
  padding: 30px;
}

@media only screen and (max-width: 991px) {
  .app-wrap .card {
    width: 80%;
  }
}

.app-wrap .card .links-wrap {
  display: flex;
  padding: 10px 0;
}

.app-wrap .card .links-wrap .link {
  color: #000;
  margin-right: 10px;
}

.app-wrap .card .links-wrap .link i {
  font-size: 19px;
}

.app-wrap .card .content-wrap {
  display: flex;
}

@media only screen and (max-width: 991px) {
  .app-wrap .card .content-wrap {
    flex-direction: column;
  }
}

.app-wrap .card .content-wrap >* {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .app-wrap .card .content-wrap :first-child {
    margin-bottom: 30px;
  }
}

.app-wrap .card .content-wrap .timeline {
  display: flex;
  flex-direction: column;
}
.app-wrap .card .content-wrap .timeline .time-item {
  position: relative;
  border-left: 1px solid #000;
}
.app-wrap .card .content-wrap .timeline .time-item h4 {
  margin: -5px 0 10px 0;
}
.app-wrap .card .content-wrap .timeline .time-item h5 {
  margin: 0 0 20px;
}
.app-wrap .card .content-wrap .timeline .time-item p {
  margin-bottom: 30px;
}
.app-wrap .card .content-wrap .timeline .time-item:last-child p {
  margin-bottom: 0;
}
.app-wrap .card .content-wrap .timeline .time-item >* {
  padding-left: 15px;
}
.app-wrap .card .content-wrap .timeline .time-item::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  margin-left: -5px;
}

.app-wrap .card .content-wrap .text-block .skills-wrap {
  display: flex;
  flex-wrap: wrap;
}
.app-wrap .card .content-wrap .text-block .skills-wrap .skill {
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  padding: 3px 5px;
  margin: 3px;
  border-radius: 3px;
}