html {
  height: 100%;
}
body {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Droid Sans', arial, serif;
  color: #222222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h3, h4 {
  margin-top: 0;
}

h1 {
  margin: 0;
}
h2 {
  margin-top: 10px;
}
h3 {
  margin-bottom: 20px;
}

p {
  margin-top: 0 !important;
}

.mb-lg {
  margin-bottom: 50px;
}

.app-wrap {
  display: flex;
  flex-grow: 1;
  padding: 60px 0;
  overflow: auto;
}

@media only screen and (max-width: 991px) {
  .app-wrap {
    padding: 15px;
  }
}

.app-wrap .card-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.app-wrap .card-wrap .card {
  background: #eeeeee;
  width: 50%;
  transition: width .3s ease-in-out;
  padding: 30px;
}

@media only screen and (max-width: 991px) {
  .app-wrap .card-wrap .card {
    width: 100%;
    padding: 15px;
  }
}

.app-wrap .card-wrap .card .links-wrap {
  display: flex;
  padding: 10px 0;
}

.app-wrap .card-wrap .card .links-wrap .link {
  color: #222222;
  margin-right: 10px;
}

.app-wrap .card-wrap .card .links-wrap .link i {
  font-size: 19px;
}

.app-wrap .card-wrap .card .content-wrap {
  display: flex;
  margin: 0 -7px;
}

@media only screen and (max-width: 991px) {
  .app-wrap .card-wrap .card .content-wrap {
    flex-direction: column;
  }
}

.app-wrap .card-wrap .card .content-wrap >* {
  width: 100%;
  margin: 0 7px;
}

@media only screen and (max-width: 991px) {
  .app-wrap .card-wrap .card .content-wrap :first-child {
    margin-bottom: 30px;
  }
}

.app-wrap .card-wrap .card .content-wrap .timeline {
  display: flex;
  flex-direction: column;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item {
  position: relative;
  border-left: 1px solid #222222;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item h4 {
  margin: -5px 0 10px 0;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item h5 {
  margin: 0 0 20px;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item p {
  margin-bottom: 30px;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item:last-child p {
  margin-bottom: 0;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item >* {
  padding-left: 15px;
}
.app-wrap .card-wrap .card .content-wrap .timeline .time-item::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #222222;
  position: absolute;
  border-radius: 50%;
  margin-left: -5px;
}

.app-wrap .card-wrap .card .content-wrap .text-block .skills-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: -7px;
}
.app-wrap .card-wrap .card .content-wrap .text-block .skills-wrap .skill {
  white-space: nowrap;
  background-color: #222222;
  color: #fff;
  padding: 3px 5px;
  margin: 3px;
  border-radius: 0;
}